# Byte-compiled / optimized / DLL files
__pycache__/*
.mypy_cache/*
.vscode/*
*.py[cod]
*$py.class
.__*
*.c
*.DS_Store
app/modules/*
app/temp/*.pkl
!modules/.gitkeep
nohup.out
app/modules/FillingPatterns
app/modules/xmask
