ansi2html
certifi
cffi
charset-normalizer
click
collider_check
contourpy
cycler
dash
dash-core-components
dash-html-components
dash-iconify
dash-mantine-components
dash-table
Flask
fonttools
idna
itsdangerous
Jinja2
kiwisolver
lark
MarkupSafe
matplotlib
nest-asyncio
numpy
orjson
packaging
pandas
Pillow
plotly
pycparser
pyparsing
python-dateutil
pytz
PyYAML
requests
retrying
scipy
seaborn
six
tenacity
typing_extensions
tzdata
urllib3
Werkzeug
xdeps
xfields
xobjects
xpart
xsuite
xtrack
